- content_for :page_title, t(:'password-resets-page.change-my-password')
%h1= t(:'password-resets-page.change-my-password')

- form_for @user, :url => password_reset_path, :method => :put do |f| 
  = f.error_messages 
  = f.label :password 
	%br
  = f.password_field :password 
  %br
  = f.label :password_confirmation
  = f.password_field :password_confirmation
  %br
  = f.submit t(:'password-resets-page.change-my-password-submit-button')