- content_for :page_title, "Update Reward for #{@task[:title]}"

#meta-panel
  .container_16
    .grid_16
      %h2= "Update Reward for <span>#{link_to(@task[:title],@task)}</span>"
    .clear

#task
  .container_16
    .grid_16
      = error_messages_for :task_reward
      - form_for(@task_reward, :url => task_reward_path) do |f|
        %fieldset
          = render :partial => 'form', :locals => {:f => f, :task_reward => @task_reward}
        %p.buttons= f.submit('Save')