- content_for :page_title, "Open Source Projects"
#profile
  #meta-panel
    .container_16
      .grid_11
        %h2
          = "Open Source Projects"
      .clear
#tasks
  .container_16
    .grid_11
      #tasks-list
        = "#{@projects.total_entries} Open Source Projects."
        %ul
          - @projects.each do |p|
            %li= link_to p.name, project_path(p)
        = will_paginate(@projects, :class => 'pagination')
